body {
    font-family: Lato;
}

.box {
    background-color: #303030;
    width: 150px;
    height: 150px;
    margin: 5px;
}

.box:hover {
    transition: 0.3s;
}

#box1:hover {
    width: 300px;
}

#box2:hover {
    height: 300px;
}

#box3:hover {
    width: 300px;
    height: 300px;
}