a:link {
    background-color: aquamarine;
}

a {
    background-color: aquamarine;
}

a:visited {
    color: #fff;
}

a:hover {
    color: black;
}

a:active {
    background-color: fuchsia;
}


/* focus nadpisuje active */

a:focus {
    background-color: darkgoldenrod;
}

#p1:target {
    color: #0f0;
}

#p1:target::before {
    color: #f00;
    content: "przed ";
}

p:lang(la) {
    font-style: italic;
    background-color: ivory;
    color: brown;
}

div.klient:nth-child(odd) {
    background-color: #303030;
    color: #fff;
    min-height: 20px;
}

div.klient:nth-child(even) {
    background-color: lightgray;
    min-height: 20px;
}

div.klient:nth-child(5n + 0) {
    font-weight: bolder;
}