body {
    color: white;
    background-color: rgb(33, 58, 80);
    margin-left: 15px;
    margin-top: 15px;
    font-family: lato;
}

form {
    line-height: 1.2em;
}

#msg {
    min-width: 300px;
    min-height: 170px;
    background-color: #2B4a64;
}

#msg:focus {
    min-width: 296px;
    min-height: 166px;
    border: 2px solid yellow;
}

input[type="email"],
input[type="tel"],
input[type="text"] {
    border: none;
    min-width: 275px;
    min-height: 22px;
    background-color: #2B4a64;
    border-radius: 2px;
    margin-bottom: 7px;
    color: white;
}

input:focus[type="email"],
input:focus[type="tel"],
input:focus[type="text"] {
    border: 2px solid yellow;
    min-width: 271px;
    min-height: 18px;
    background-color: #4e708c;
}

input[type=submit] {
    background-color: #0F0;
    color: white;
    border: none;
    border-radius: 2px;
    min-height: 40px;
    min-width: 100px;
    font-weight: 900;
    font-size: 1em;
    letter-spacing: 1px;
    font-family: lato;
}