body {
    font-family: Lato;
/*
    background-color: #303030;
    color: white;
*/
}


#truskawka {
    float:left;
}

#truskawka2 {
    float:right;
}

span:nth-child(5) {
    background-color: royalblue;
    clear:both;
    
}

p:last-child {
    background-color: royalblue;
    clear:right;
    
}

